<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/libs.js"></script>
</head>
<body>
<div id="container">
    <script type="text/javascript" src="../js/client.js"></script>
</div>
</body>
</html>